upstream fastcgi_backend {
  server  unix:/run/php/php{{ php_version }}-fpm.sock;
}

server {
  listen {{port_name}};
  server_name {{ hostname }};
  set $MAGE_ROOT /var/www/{{project_name}};
  include /var/www/{{project_name}}/nginx.conf[.]sample;
}
