server {
    listen {{port_name}};

    index index.html;
    server_name {{ hostname }};
    root /var/www/angular/{{project_name}}/dist/{{project_name}};

    location / {
        try_files $uri $uri/ /index.html$is_args$args;
    }
}
