server {
    listen {{port_name}};

    index index.php index.html;
    server_name {{ hostname }};
    root /var/www/laravel/{{project_name}}/public;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
    }
}
